body {
    background-color: #212121;
    color: #fff;
    margin: 1em;
    font-size: 110%;
    font-family: Lora, serif;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

section img {
    width: 96px;
    border: 2px solid #000;
    margin-left: 0.5em;
}

div.items ul {
    margin: 0;
}

p {
    color: #999;
    font-style: italic;
}

h3.hier {
    color: #999;
    margin-bottom: 0.5em;
}

.entry {
    display: flex;
}

.neg-col {
    min-width: 30%;
    max-width: 60%;
    background: #131313;
    padding: 4px 8px;
}

.neg-col img {
    width: 100%;
}

.spacer-col {
    min-width: 10%;
    max-width: 10%;
}

.date-col {
    min-width: 1em;
    max-width: 1em;
    padding-top: 1em;
    padding-left: 0.3em;
    background-color: #131313;
    color: #f0bd0a;
    writing-mode: vertical-rl;
    font-family: "Helvetica";
    font-size: medium;
}

.unused-col {
    min-width: 1em;
    max-width: 1em;
    padding-top: 1em;
    padding-left: 0.3em;
    background-color: #131313;
    color: #f0bd0a;
    writing-mode: vertical-rl;
    font-family: "Helvetica";
    font-size: small;
}

.meta-col {
    padding-top: 1em;
    padding-left: 2em;
}

.neg img {
    height: auto;
}

.title a {
    font-size: 140%;
    color: #fff;
    font-weight: 700;
}

a:link {
    color: #fff;
}

a:visited {
    color: #88735c;
}

a {
    text-decoration-color: #f0bd0a;
}

.desc {
    color: #eee;
}

.exif {
    font-style: italic;
    color: #68533c;
}
